.cart {
    color: var(--text-primary);
    height: fit-content;
    width: 300px;
}

.cart-items {
    width: 100%;
}

.cart-items .product-img {
    width: 50px;
}

th, td {
    color: var(--text-primary);
}

.quantity {
    display: flex;
}

.quantity div {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.cart-items .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.shipping-information {
    background: ver(--background-primary);
    height: fit-content;
}

.shipping-information form div {
    margin: 20px 5px; 
}

.process-order {
    height: 100vh;
    background: var(--backgroung-primary);
    padding: 20px;
}

.shipping-information h1,.actions h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--background-secondary)
}